body {
  --text-color: #222;
  --bkg-color: #fff;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

:root {
  --main-bg-color: #20B7CB;
  --main-txt-color: #282c34
}

.App {
  width: 357px;
  height: 600px;
  /* these are dimensions of metamask extension*/
  margin: 3px;
  border-radius: 3px;
  background: var(--bkg-color);
}

.tweet {
  margin: 1px solid;
  border: 1px solid var(--main-bg-color);
  color: var(--main-txt-color);
  border-radius: 3px;
}

.username {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  color: var(--main-txt-color);
  border-radius: 3px;
  height: fit-content;
}

.panel {
  background-color: var(--main-txt-color );
  min-height: 20px;
  height: 58px;
  min-width: 80px;
  display: flex;
  /* position: fixed; */
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 3px;
}

#scrolltop-button {
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: var(--main-bg-color);
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  opacity: 0.3;
}

