.App {
  width:fit-content;
  height:fit-content;
  min-height: 100px;
  min-width: 100px;
  margin: 3px;
  border-radius: 3px;
}

.tweet {
  margin: 1px solid;
  border: 1px solid #61dafb;
  color: #282c34;
  border-radius: 3px;
}

.username{
  background-color: #61dafb;
  border: 1px solid #61dafb;
  color: #282c34;
  border-radius: 3px;
}

.header{
  background-color: #282c34;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content:left;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 3px;
}

#scrolltop {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}